.bigContainer{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.89),
    rgba(255, 255, 255, 0.889)
    ), url("../img/641547.jpeg");
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: cover;
}