.bigContainer{
    width: 100%;
    max-width: 1200px;
    /* background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.89),
    rgba(255, 255, 255, 0.889)
    ), url("../img/641547.jpeg");
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: cover; */
}

.addText{
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border: 2px solid rgba(165, 42, 42, 0.477);
    border-radius: 10px;
    font-size: 15px;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 0.892);
}
.addText span{
    color: brown;
    font-weight: bold;
}

.selectBoxes{
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0 30px;
    font-size: 18px;
}

.selectBoxes:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.263);
}
